:root {
  --color-primary: #ccd5ae;
  --color-primary-light: #e9edc9;
  --color-background: #fefae0;
  --color-secondary-light: #faedcd;
  --color-secondary: #d4a373;
  --color-secondary-darker: #b4895e;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-primary);
  font-family: "Roboto", sans-serif;
}

header {
  background-color: var(--color-primary-light);
  padding: 1rem;
}

.button {
  padding: 1rem 2rem;
  font-size: large;
  font-weight: bold;
  background-color: var(--color-secondary);
  color: var(--color-primary-light);
  border: none;
  border-radius: 1rem;
}

.button:hover {
  background-color: var(--color-secondary-darker);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.page-container {
  max-width: 100em;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
