*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: Arial, Helvetica, sans-serif
}

header{
    background-color: #333;
    color: white;
}

.flex-divider{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
}

#logo{
    font-size: 1.5rem;
    font-weight: bold;
}

#add-button{
    background-color: white;
    color: #333;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid #333;
}

#add-button span{
    font-weight: bold;
    padding-left: 10px;
}

#add-button i{
    color: #333;
}

#add-button:hover{
    background-color: #333;
    color: white;
    border-color: white;
}

#add-button:hover i{
    color: white;
}