* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-rows: 100px 1fr 40px;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

/* header */
header {
  background-color: #333;
  color: white;
}

.flex-divider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px;
}

#logo {
  font-size: 1.5rem;
  font-weight: bold;
}

#add-button {
  background-color: white;
  color: #333;
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid #333;
}

#add-button span {
  font-weight: bold;
  padding-left: 5px;
}

#add-button i {
  color: #333;
}

#add-button:hover {
  background-color: #333;
  color: white;
  border-color: white;
}

#add-button:hover i {
  color: white;
}

/* main */
main {
  padding: 20px;
}

.book-container {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  column-gap: 20px;
  row-gap: 20px;
  min-height: 100%;
  padding: 20px;
  background-color: #f4f4f4;
}

.book {
  background-color: #f4f4f4;
  margin: 10px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  flex: 1 1 250px;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
}

footer a {
  color: white;
}
